<!--@subject {{trans "Retailers Mail notification"}} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%retailer_name," retailer_name=$retailerName}}</p>
            <p>
                {{trans "The customer, %customer_name, did a order with the following products:" customer_name=$customerName}}
            </p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="email-items">
                {{layout handle="email_product_list" items=$items area="frontend"}}
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}