<?php /** @var Training\Retailers\Block\Product\Amount\RetailersDisplay $block */
$retailer = $block->getRetailer()?>

<div>
    <a href="#" id="modal-retailer-info-link"><?php echo $retailer->getName() ?></a>
</div>
<div id="popup-retailer-info" style="display:none;">
    <h1>Name: <?php echo $retailer->getName() ?></h1>
    <h1>Email: <?php echo $retailer->getEmail() ?></h1>
    <h1>Country: <?php echo $retailer->getCountry() ?></h1>
    <h1>Post Code: <?php echo $retailer->getPostcode() ?></h1>
    <div id="map_canvas" style="height: 354px; width:354px;"></div>
</div>

<script>
    var directionsDisplay,
        directionsService,
        map;

    function initialize() {
        var directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer();
        var marker = new google.maps.LatLng(<?php echo $retailer->getLatitude()?> ,<?php echo $retailer->getLongitude() ?>);
        var mapOptions = { zoom:7, mapTypeId: google.maps.MapTypeId.ROADMAP, center: marker };
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        directionsDisplay.setMap(map);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkcYIDaHEPwOYdjbX6QEjTteuehJ7MjQ0&callback=initialize"></script>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: "Retailer's details",
                buttons: [{
                    text: $.mage.__('Continue'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            var popup = modal(options, $('#popup-retailer-info'));
            $("#modal-retailer-info-link").on('click',function(){
                $("#popup-retailer-info").modal("openModal");
            });

        }
    );
</script>

