<?php $items = $block->getItems() ?>
<table class="email-items">
    <thead>
    <tr>
        <th class="item-info">
            <?= /* @escapeNotVerified */  __('Items'); ?>
        </th>
        <th class="item-qty">
            <?= /* @escapeNotVerified */  __('Qty'); ?>
        </th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($items as $item): ?>
        <tr>
            <td><?php echo $item['name']; ?></td>
            <td><?php echo $item['qty']; ?></td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>